input[type=Button]
{
    font-family: "Lucida Console";
    background-color: #262626;
    width: 70%;
    height: 40px;
     /*For the icon---------------------*/
    /*background-image: url(return.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 3px 9px;*/
    /*-----------------------------------*/
    border: 1px;
    border-radius: 5px;
    color: white;
    padding: 10px 22px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=Button]:hover
{
  background-color: #1a1a1a;
  cursor: pointer; 
}
input[type=submit],input[type=reset] 
{
    
}
